<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    {% if message %}
        <h1>{{ message }}</h1>
    {% endif %}
    {% if error %}
        <h3 style="color:red;">{{ error }}</h3>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {% if form %}
            {{ form.as_p }}
        {% else %}
            <label for="username">Введите логин:</label>
            <input type="text" name="username" maxlength="30">
            <br>

            <label for="password">Введите пароль:</label>
            <input type="password" name="password" minlength="8">
            <br>

            <label for="repeat_password">Повторите пароль:</label>
            <input type="password" name="repeat_password" minlength="8">
            <br>

            <label for="age">Введите свой возраст:</label>
            <input type="number" name="age" max="999">
            <br>
        {% endif %}
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
